@model IEnumerable<FarmTradeApp.Core.Models.Products.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Προϊόντα</h2> <br />

<table class="table table-bordered table-hover" style="text-align:center; width: 500px">
    <thead>
        <tr>
            <th style="text-align:center">Products</th>
            <th style="text-align:center">Category</th>
            <th style="text-align:center">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td> @Html.ActionLink(product.Name, "Edit", "Products", new { id = product.Id }, null) </td>
                <td>@product.Category.Name</td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Products", new { id = product.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<p>
    @Html.ActionLink("New Product", "New", "Products", null, new { @class = "btn btn-primary" })
</p>
