@{
    ViewBag.Title = "About";
}

<h3><p class="alert alert-info">Meet the team:</p></h3>
<table class="table">
    <thead>
        <tr>
            <td>
                Team :
            </td>
            <td>
                Find Us:
            </td>
        </tr>
    </thead>
    <tr>
        <td>
            Αγγελής Νταβέλος
        </td>
        <td>
            <a href="https://github.com/angeloDarrow" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </td>
    </tr>

    <tr>
        <td>
            Άρης Τριανταφύλλου
        </td>
        <td>
            <a href="https://github.com/ar-is" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </td>
    </tr>

    <tr>
        <td>
            Βασίλης Τσάλαβος
        </td>
        <td>
            <a href="https://github.com/biltsal" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </td>
    </tr>

    <tr>
        <td>
            Άγγελος Γαλάτας
        </td>
        <td>
            <a href="https://github.com/AngeloG92" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </td>
    </tr>

    <tr>
        <td>
            Μάνος Τσικαλάκης
        </td>
        <td>
            <a href="#" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </td>
    </tr>

    <tr>
        <td>
            Κυριάκος Σέλος
        </td>
        <td>
            <a href="https://github.com/kyriakossl1990" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </td>
    </tr>

    <tr>
        <td>
            Χρήστος Αμπατζίδης
        </td>
        <td>
            <a href="https://github.com/campatzidis" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </td>
    </tr>

    <tr>
        <td>
            Έφη Κουτσόφ
        </td>
        <td>
            <a href="https://github.com/KiEffie" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </td>
    </tr>

    <tr>
        <td>
            Ελευθέριος-Μάνος Κολαΐτης
        </td>
        <td>
            <a href="https://github.com/emkolaitis" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </td>
    </tr>

    <tr>
        <td>
            Αλέξανδρος Μπραχάλας
        </td>
        <td>
            <a href="https://github.com/AlexBrach" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </td>
    </tr>

    <tr>
        <td>
            Αλέξανδρος Iωαννίδης
        </td>
        <td>
            <a href="#" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </td>
    </tr>

    <tr>
        <td>
            Τάσος Αυγουστής
        </td>
        <td>
            <a href="#" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </td>
    </tr>

    <tr>
        <td>
            Σπύρος Βίγκος
        </td>
        <td>
            <a href="https://github.com/spv89" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </td>
    </tr>

    <tr>
        <td>
            Βασιλική Κουτσούλη
        </td>
        <td>
            <a href="https://github.com/Vasilikikouts" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </td>
    </tr>
</table>
