@{
    ViewBag.Title = "Faq";
}
<h2 class="alert alert-info">Frequently Asked Question</h2>
<div class="faqs">
    <ul>
        <li>
            <strong>How to register: </strong></br>
            <ul>
                <li>1.Go to farmtrade.com.</li>
                <li>2.In the top right-hand corner, click Register</li>
                <li>3.Fill in all the details</li>
                <li>4.Press Register</li>
            </ul>
        </li>
        <li>
            <strong>How to certify your account?</strong></br>
            Once you've signed in your Account, you will need to insert the appropriate documents for your company, ie. VAT, ID.
        </li>
        <li>
            <strong>What should I choose? Seller or Buyer</strong></br>
            A Seller is a farmer that owns and collects the products of a crop
            Is capable of selling his product through the farmtrade.com website to available buyer at an auction price providing some product details like quality, the amount, the unit price.
            A Buyer is a business that needs to acquire products of a certain amount and quality available in the farmtrade.com market at the best possible price.
        </li>
    </ul>
</div>