<div id="footer">
    @*<hr style="width:100%; margin: 0;" />*@
    <footer>
        <div class="social">
            @*<span class="text-warning">Find Us On Social:</span>*@
            <ul class="list-inline">
                <li><a href="#"><i class="fab fa-facebook-square fa-2x" style="color:darkblue"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square fa-2x" style="color:#00acee"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube fa-2x" style="color: red"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram fa-2x" style="color:#C13584"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin fa-2x" style="color:#0077B5"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope-square fa-2x" style="color:aliceblue"></i></a></li>
            </ul>
        </div>
        <p><strong>&copy; @DateTime.Now.Year Federal .Agricultural .Relational .Model</strong></p>
    </footer>
</div>